.office_top{
    margin-top: 120px;
    margin-bottom: 12px;
    border-bottom:2px solid lightgrey;
    .office_title{
        font-size: 32px ;
        font-weight: 700;
    }
}

.office_card{
    width: 100%;
    height: 560px;
    video{
        width: 100%;
        height: 560px;
        object-fit: cover;
    }
}